{% extends 'base.html.twig' %}

{% block body %}
    <h1>Patients list</h1>

    <table>
        <thead>
            <tr>
                <th>Drprescri</th>
                <th>Renseigncli</th>
                <th>Numpat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td><a href="{{ path('patient_show', { 'numpat': patient.numpat }) }}">{{ patient.drprescri }}</a></td>
                <td>{{ patient.renseigncli }}</td>
                <td>{{ patient.numpat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('patient_show', { 'numpat': patient.numpat }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('patient_edit', { 'numpat': patient.numpat }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('patient_new') }}">Create a new patient</a>
        </li>
    </ul>
{% endblock %}
